TAP-modal-back.TAP-modal-navi-placeholder {
  height: 100%;
  position: absolute;
  top: 0;
}

#TAP-modal-back-button {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  width: 50px;
  height: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  opacity: 1;
  outline: none;
  cursor: pointer;
  z-index: 1;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  left: 0;
}

#TAP-modal-back-button.fadeOutABC {
  display: inline;
  left: -45px;
}

#TAP-modal-back-button-background {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  width: 45px;
  height: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  /*opacity: 0.22;*/
  cursor: pointer;
  z-index: -1;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  left: 0;
  direction: ltr;
}

#TAP-modal-back-button-background.fadeOutABC {
  left: -45px;
}

#TAP-modal-back-area {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right, width, opacity;
  transition-property: left, right, width, opacity;
  height: 100% !important;
  width: 20px !important;
  /* background-color: rgba(0, 0, 255, 0.25); */
  position: absolute;
  z-index: 0;
  left: -10px;
}

#TAP-modal-back-area.expandABC {
  /* background-color: red; */
  width: 60px !important;
  left: -50px;
}

#TAP-modal-next-button {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  width: 45px;
  height: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  opacity: 1;
  outline: none;
  cursor: pointer;
  z-index: 1;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  right: 0;
}

#TAP-modal-next-button.fadeOutABC {
  display: inline;
  right: -45px;
}

#TAP-modal-next-button-background {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  width: 45px;
  height: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  /*opacity: 0.22; */
  cursor: pointer;
  z-index: -1;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  right: 0;
  direction: rtl;
}

#TAP-modal-next-button-background.fadeOutABC {
  right: -45px;
}

#TAP-modal-next-area {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-property: left, right, width, opacity;
  transition-property: left, right, width, opacity;

  height: 100% !important;
  width: 20px !important;
  /* background-color: rgba(255,0,0,0.2); */
  position: absolute;
  z-index: 0;
  right: -10px;
}

#TAP-modal-next-area.expandABC {
  /* background-color: red; */
  width: 60px !important;
  right: -50px;
}

.TAP-modal-navi-img-back {
  position: relative;
  left: 18px;
}

.TAP-modal-navi-img-next {
  position: relative;
  right: 18px;
}

@media (max-width: 440px) {
  #TAP-modal-back-button-background {
    width: 40px;
    left: 10px;
    z-index: 999;
  }

  #TAP-modal-back-button-background.fadeOutABC {
    left: 10px;
  }

  #TAP-modal-back-button {
    width: 40px;
    left: 10px;
    z-index: 999;
    /*background: red;*/
    display: block;
  }

  #TAP-modal-back-button.fadeOutABC {
    left: 10px;
    z-index: 999;
  }

  #TAP-modal-next-button-background {
    width: 40px;
    right: 10px;
    z-index: 999;
  }

  #TAP-modal-next-button-background.fadeOutABC {
    right: 10px;
  }

  #TAP-modal-next-button {
    width: 40px;
    right: 10px;
    z-index: 999;
    /*background: red;*/
    display: block;
  }

  #TAP-modal-next-button.fadeOutABC {
    right: 10px;
    z-index: 999;
  }
}
